NODE_ENV="development"
PORT=""
JWT_ALGORITHM=""
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
JWT_ACCESS_TOKEN_EXPIRATION="15m"
JWT_REFRESH_TOKEN_EXPIRATION="7d"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT="5432"
POSTGRES_DB=""
DATABASE_URL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_BUCKET_NAME=""
AWS_PRIVATE_BUCKET_NAME=""
NETSUITE_ACCOUNT_ID=""
NETSUITE_CONSUMER_KEY=""
NETSUITE_CONSUMER_SECRET=""
NETSUITE_TOKEN_ID=""
NETSUITE_TOKEN_SECRET=""
NETSUITE_ITEM_RECEIPT_URL=""